<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
    {% block head %}
    <link rel="stylesheet" href="css/style.css" />
    <title>{% block title %}{% endblock %} : Hexagon</title>
    {% endblock %}
 </head>
 <body>
  <div id="header">
   <span class="title"><a href="/home">Hexagon</a></span>
   
   <div class="login-area">
    {% if user %}
      <a class="login-link" href="/home">home</a>
      |
      <a class="login-link" href="/settings">settings</a>
      |
      {{user.name}} (<a class="login-link" href="/logout">log out</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">sign up</a>
    {% endif %}
  </div>
 
  </div>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012 by <a href="http://www.witsacco.com">Witsacco</a>.
        {% endblock %}
   </div>
 </body>
</html>