{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>Current Games</h2>
    {% if current %}
     {% for game in current %}
      <div class="game"><a href="/play?gameid={{game.gameid}}">Game #{{game.gameid}}: {{game.player1}} vs {{game.player2}}</a></div>
     {% endfor %}
    {% else %}
  <div class="faded">No current games</div>    
    {% endif %}
  <hr>
  
  <h2>Pending Challenges</h2>
    {% if pending %}
  <div>You have some pending games</div>
    {% else %}
  <div class="faded">No pending games</div>    
    {% endif %}
  <hr>

  <h2>Finished Games</h2>
    {% if finished %}
  <div>You have some finished</div>
    {% else %}
  <div class="faded">No finished games</div>    
    {% endif %}
  <hr>
    
  <h2 class="hidelink"><a href="/challenge">New Game &gt;</a></h2>
  
    
{% endblock %}
