<!DOCTYPE html>

<html>
  <head>
    <title>New Challenge</title>
    <style type="text/css">
      .error {color: red}
    </style>

  </head>

  <body>

    <h2>Create New Game</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Opponent
          </td>
          <td>
            <select name="player2">
             <option value="1">Jim</option>
             <option value="2">Joe</option>
            </select>
          </td>
        </tr>
       </table>

      <input type="submit" value="Send Challenge" />
    </form>
  </body>

</html>
