{% extends "base.html" %}

{% block title %}New Challenge{% endblock %}

{% block content %}
    <h2>Create New Game</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Opponent
          </td>
          <td>
            <select name="player2">
             {% for user in users %}
              <option value="{{user.id}}">{{user.name}}</option>
             {% endfor %}
            </select>
          </td>
        </tr>
       </table>

      <input type="submit" value="Send Challenge" />
    </form>
{% endblock %}