{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
canvas {
	border: 1px solid #9C9898;
}
    </style>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/kinetic.js"></script>
    
    <script type="text/javascript">
var board = {{board}};
var playerNum = {{turn}};
    </script>
    
    <script type="text/javascript" src="js/board.js"></script>
{% endblock %}

{% block content %}

  <table>
   <tr>
    <td>Player 1:</td>
    <td>{{player1}}</td>
   </tr>
   <tr>
    <td>Player 2:</td>
    <td>{{player2}}</td>
   </tr>
   <tr>
    <td>Status:</td>
    <td>{{status}}</td>
   </tr>
  </table>
  
   <div id="game-board" class="game-board"></div>
   
   {% if is_my_turn %}
   <form method="post">
      <input type="text" name="gameid" hidden="hidden" value="{{gameid}}" />
      <input type="text" name="row" id="row" hidden="hidden" />
      <input type="text" name="col" id="col" hidden="hidden" />

	  <input type="submit" name="submit" value="Submit Move" />
	  <input type="submit" name="cancel" value="Cancel" />
   </form>
   {% endif %}   
{% endblock %}